[submodule "lib/tco_shmem"]
	path = lib/tco_shmem
	url = https://github.com/team-convex-optimization/tco-shmem.git
[submodule "lib/tco_libd"]
	path = lib/tco_libd
	url = https://github.com/team-convex-optimization/tco-libd.git
